body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
li{list-style:none;}
/* page bg */
.jamnews-container{width: 100%;min-height: 100vh;background-color: #3F3F3F;}
/* title */
.jamnews-container .jamnews-title-container{width: 100%;height: 0.78rem;background: #323234;box-shadow: 0px 1px 0px #3D3D40;padding: .43rem 0 .12rem .26rem;box-sizing: border-box;display: flex;align-items: center;margin-bottom: 1px;}
.jamnews-container .jamnews-title-container img.logo{height: 0.18rem;}
.jamnews-container .jamnews-title-container span{width: 1px;height: 0.18rem;background-color: #fff;margin: 0 0.12rem;}
.jamnews-container .jamnews-title-container img.logo-icon{height: 0.26rem;}
.jamnews-container .jamnews-title-container p{font-family: PingFang HK;font-style: normal;font-weight: 600;font-size: 16px;line-height: 22px;text-align: center; color: #F24F4F;margin-left: 5px;}
/* nav */
.jamnews-container .jamnews-nav-container{width: 100%;background: rgba(54, 54, 56, 0.8);backdrop-filter: blur(54px);position: relative;z-index: 99;}
.jamnews-container .jamnews-nav-container .nav-icon{width: 0.44rem;height: 0.44rem;}
.jamnews-container .jamnews-nav-container .search-box{width: 3rem;height: 0.44rem;background: rgba(73, 73, 77, 0.3);border-radius: 8px;display: flex;justify-content: space-between;align-items: center;}
.jamnews-container .jamnews-nav-container .search-box input{width: 2.6rem;height: 0.44rem;border-radius: 8px;outline: none;background: rgba(73, 73, 77, 0);border: none;padding: 0 .14rem;font-size: .14rem;line-height: .2rem;color: white;/* color: rgba(151, 151, 151, 0.6); */}
.jamnews-container .jamnews-nav-container .search-box .search-icon{width: 0.2rem;height: 0.2rem;padding: 0 .13rem;}
.jamnews-container .jamnews-nav-container .search-container{display: flex;height:0.72rem;align-items: center;justify-content: space-between;box-sizing: border-box;padding: .14rem .25rem .14rem .14rem;width: 100%;}
.jamnews-container .jamnews-nav-container .mobile-nav-list{position: absolute;width: 100%;background: rgba(54, 54, 56, 0.98);top: 0.72rem;left: 0;display: none;}
.jamnews-container .jamnews-nav-container .mobile-nav-list li {width: 100%;height: 0.72rem;border: 1px solid rgba(255, 255, 255, 0.05);display: flex;box-sizing: border-box;padding: .22rem .28rem .25rem .25rem;justify-content: space-between;align-items: center;opacity: 0.4;}
.jamnews-container .jamnews-nav-container .mobile-nav-list li .nav-name{display: flex;justify-content: space-between;align-items: center;}
.jamnews-container .jamnews-nav-container .mobile-nav-list li .nav-name img{width: .15rem;display: block;margin-right: 20px;}
.jamnews-container .jamnews-nav-container .mobile-nav-list li .nav-name p{font-family: PingFang HK;font-style: normal;font-weight: 600;font-size: .18rem;line-height: .25rem;color: #FFFFFF;}
.jamnews-container .jamnews-nav-container .mobile-nav-list li .nav-next-icon{width: 0.12rem;}
.jamnews-container .jamnews-nav-container .mobile-nav-list li.active{opacity: 1;}

/* content */
.jamnews-content-container{width: 100%;box-sizing: border-box;padding: .25rem;z-index: 9;}
.banner-list-box{width: 100%;border-radius: 8px;}
.banner-list-box li{width: 100%;position: relative;border-radius: 8px;}
.banner-list-box li img{width: 100%;display: block;border-radius: 8px;}
.banner-list-box li p{position: absolute;bottom: .16rem;left: 50%;width: 3rem;font-family: PingFang HK;font-style: normal;font-weight: 600;font-size: .2rem;line-height: .28rem; color: #FFFFFF;transform: translateX(-1.5rem);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}


