!*/

# 允许的文件后缀
!*.rs
!*.toml
!*.txt
!*.md
!*.htm
!*.html
!*.css
!*.js
!*.jpg
!*.gif
!*.png
!*.sql
!*.json
!*.go
!*.sh
!*.php
!*.proto
!.gitignore

# 过滤的目录
node_modules
data
data1
target
lab
Cargo.lock
*.log
*.swp
*.swn
*.swm
*.swo
*.pyc
local_settings.py
.DS_Store
tmp/
db.sqlite3
package-lock.json
.idea/
*.egg-info/
dist/
build/
*.csv
*.xlsx
media
